.text-area {
  min-width: 600px;
}

.textbox-button {
  margin-top: 50px;
}

.text-button:hover {
  background-color: red;
}

.text-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
