:root {
  color-scheme: light dark;
  --main-bg-color: #000;
  --main-text-color: rgba(255, 255, 255, 0.87);
  --hover-bg-color: rgba(255, 0, 0, 0.7);
  --input-bg-color: #111;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'IBM Plex Mono', monospace;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

button, input {
  font-family: 'IBM Plex Mono', monospace;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 15px;
  text-align: center;
}

button {
  background-color: var(--input-bg-color);
  color: var(--main-text-color);
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.555);
}

button:hover {
  background-color: var(--hover-bg-color);
}

input {
  background-color: var(--input-bg-color);
  color: var(--main-text-color);
  border: 1px solid rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 15px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
