.leaderboard {
  margin: auto;
  padding: 20px;
  max-width: 400px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.leaderboard h2 {
  font-family: 'Press Start 2P', monospace;
  color: var(--hover-bg-color);
  font-size: 30px;
}

.leaderboard ul {
  list-style-type: none;
  padding: 0;
}

.leaderboard li {
  font-size: 20px;
  margin: 5px 0;
}
