.login-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/start-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.container-start {
  margin: auto;
  padding: 20px;
  max-width: 400px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

.container-start h1 {
  font-family: 'Press Start 2P', monospace;
  color: var(--hover-bg-color);
  font-size: 50px;
}

.container-start .subtitle {
  font-size: 25px;
  margin-bottom: 20px;
}
