* {
  font-size: 20px;
}

.background-picture {
  background: url("public/startPage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.start-title {
  font-size: 22px;
  font-weight: 600;
}

.input-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10%;
  gap: 10px;
  border: 5px solid black;
  padding: 50px;
  font-size: 20px;
  background: linear-gradient(to top, white, beige, gray);
}

.input-field {
  border: 4px solid black;
  text-align: center;
}

.input-field:focus::placeholder {
  color: transparent;
}

.start-button {
  background: linear-gradient(to bottom, #c9362b, #f45536, #ffd34f);
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
  color: black;
  border: 2px solid black;
  font-weight: 600;
  padding: 10px;
  margin-top: 40px;
}

.start-button:hover {
  background: linear-gradient(to bottom, #c9362b #f45536, #ffd34f);
  text-shadow: 0 0 10px #fff, 0 0 20px #ff0, 0 0 30px #ff0;
  border: 2px solid black;
}
