h1 {
  font-size: 50px;
  color: #333;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 40px;
  color: #666;
}

.enter-game-text {
  text-align: center;

  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.description {
  font-size: 30px;
  color: #333;
  margin: 20px 0;
}

.direction-question {
  font-size: 24px;
  margin-top: 40px;
  color: #444;
}

.chevron:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

.animation-compass {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
