.startGameWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  margin: 0;
  text-align: center;
}

.startGameContainer {
  font-family: var(---main-font);
  background-color: rgba(0, 0, 0, 0.8);
  max-width: 95%;
  margin: auto;
}

.title {
  font-family: var(---title-font);
  color: #84c69b;
}

.introText {
  font-family: var(---title-font);
  color: white;
}

.usernameText {
  color: white;
}

.usernameButton {
  background-color: #84c69b;
}
