:root {
  --button-text-color: #ff7e26;
  --button-border: #ff7e26 solid 2px;
  --button-padding: 0 4px;

  --main-border: white solid 3px;
}

@font-face {
  font-family: Deluxfont;
  src: url("../assets/DeluxefontRegular-xoOO.ttf");
}

@font-face {
  font-family: ShapeBitRegular;
  src: url("../assets/ShapeBitRegular-VGZvl.otf");
}

@font-face {
  font-family: Pixelboy;
  src: url("../assets/Pixeboy-z8XGD.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: Deluxfont;
  cursor: url("/heartCursor.png"), auto;
}

.loading-text,
.loading-text-bonus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  width: 80%;
  max-width: 600px;
  height: 100vh;

  animation: appear linear 2s;
  font-size: 1rem;
  line-height: 2.2rem;
  letter-spacing: -1px;
}

.loading-text-bonus {
  color: #ff9b9d;
}
