.game-container {
    color: white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  .restart-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  @media (max-width: 768px) {
    .game-container {
      background-size: cover;
    }
  }