.home-body-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/home.jpg");
  background-size: cover;
}

.home-container {
  position: relative;
  z-index: 1;
  background-color: #ffffff90;
  width: 50%;
  border-radius: 20px;
  padding: 20px;
  margin: auto;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-element {
  margin-right: 15px;
}

.form-element:last-child {
  margin-right: 0;
}
