.labyrinth-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: top left;
  animation: background-animation 100s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes background-animation {
  100% {
    background-position: bottom right;
  }
}

.labyrinth-content {
  height: 100vh;
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 40% repeat(5, 12%);
}

.location-description {
  grid-column: 1 / span 3;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-description p {
  display: block;
  background-color: rgba(0, 0, 0, 0.628);
  color: var(--beige);
  text-shadow: 1px 1px 3px black;
  padding: 20px;
  margin: 20px;
}

.navigation-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column: 1;
  grid-row: 2;
  gap: 40px;
  padding: 20px;
}

.button-North {
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
  align-self: center;
}

.button-East {
  grid-column: 3;
  grid-row: 3;
  justify-self: center;
  align-self: center;
}

.button-South {
  grid-column: 2;
  grid-row: 4;
  justify-self: center;
  align-self: center;
}

.button-West {
  grid-column: 1;
  grid-row: 3;
  justify-self: center;
  align-self: center;
}

.button-restart {
  grid-column: 2;
  grid-row: 6;
  font-size: 18px;
  background-color: var(--darkgreen);
  border: 2px solid var(--lightgreen);
  align-self: center;
}

/* Centering loading spinner */
.loading-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .labyrinth-content {
    grid-template-rows: repeat(5, auto);
    max-width: 1200px;
  }

  .location-description {
    grid-column: 2;
    grid-row: 3;
  }

  .button-restart {
    position: absolute;
    left: 30px;
    bottom: 30px;
  }
}
