.labyrinth-content {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 50%;
}

.location-description {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-description p {
  display: block;
  background-color: rgba(0, 0, 0, 0.628);
  color: var(--beige);
  text-shadow: 1px 1px 3px black;
  padding: 20px;
  margin: 20px;
}

.navigation-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column: 1;
  grid-row: 2;
  gap: 40px;
  padding: 20px;
}

.button-North {
  grid-column: 2;
  grid-row: 1;
}

.button-East {
  grid-column: 3;
  grid-row: 2;
}

.button-South {
  grid-column: 2;
  grid-row: 3;
}

.button-West {
  grid-column: 1;
  grid-row: 2;
}

.button-restart {
  grid-column: 2;
  grid-row: 5;
  font-size: 18px;
}

/* Centering loading spinner */
.loading-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
