.loading-page {
    background-color: rgb(247, 240, 230);
    border-radius: 150px 80px 100px 50px;
    padding: 20px;
}

.story-page {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.story-book {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.story-book img {
    height: 35vh;
    width: 45vw;
    object-fit: cover;
    margin: 15px;
    box-shadow: 2px 2px 10px 15px rgba(247, 240, 230, 1);
}

.story-info {
    background-color: rgb(247, 240, 230);
    border: 3px dotted black;
    border-radius: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.story-info p {
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.arrow-container {
    background-color: rgb(247, 240, 230, 0.5);
    border-radius: 150px;
    padding: 20px;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-arrows {
    display: flex;
    gap: 100px;
}

.arrow-container button {
    background-color: rgb(161, 255, 133, 0.5);
    border: none;
    padding: 4px;
    margin: 10px;
    width: 100px;
}

.arrow-container button:disabled {
    background: none;
    opacity: 0.3;
}