.game-container {
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
	padding: 50px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	font-family: 'Cinzel Decorative', sans-serif;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

button {
	padding: 15px 30px;
	border: none;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
	transition: background-color 0.3s;
}

/* ---- Styling Show/Hide info Button ---- */
.show-more-btn {
	display: inline-flex;
	align-items: center;
	transition: transform 0.3s ease, background-color 0.3s ease;
	padding: 5px;
	margin-bottom: 20px;
	background-color: rgba(241, 240, 240, 0.2);
	border-radius: 50%;
}

.show-more-btn:hover {
	transform: scale(1.5);
	background-color: rgba(241, 240, 240, 0.2);
}

.show-more-btn img {
	width: 40px;
	height: 40px;
}

/* ---- Styling Action Button ---- */

.action-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
	padding: 10px;
	border-top: 1px solid #ddd;
}

.action-btn {
	background-color: rgba(241, 240, 240, 0.2);
	display: flex;
	align-items: center;
}

.action-btn:hover {
	background-color: rgba(241, 240, 240, 0.5);
	transform: scale(1.05);
}

.action-btn-icon {
	margin-right: 5px;
	width: 40px;
	height: 40px;
}

/* ---- Styling Restart Button ---- */

.restart-btn {
	background-color: rgba(241, 240, 240, 0.2);
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 10px 15px;
	border-radius: 5px;
	transition: 0.2s;
	border-radius: 50%;
}

.restart-btn:hover {
	background-color: rgba(241, 240, 240, 0.5);
}

.restart-btn:hover .restart-icon {
	transform: rotate(180deg)
}

.restart-icon {
	width: 28px;
	height: 28px;
	transition: transform 0.3s ease-in-out;
}


/* Media Queries */
@media (max-width: 768px) {
	.game-container {
		padding: 10px;
		border-radius: 5px;
	}

	.action-container {
		flex-direction: row;
		justify-content: space-around;
	}

	.action-btn {
		padding: 10px;
		transform: scale(1);/
	}

	.action-btn:hover {
		transform: scale(1.1);
	}
}

@media (max-width: 480px) {

	/* Adjustments for mobile screens */
	.show-more-btn {
		width: 35px;
		height: 35px;
		padding: 5px;
	}

	.show-more-btn img {
		width: 25px;
		height: 25px;
		/* Smaller icon */
	}

	.action-btn {
		font-size: 16px;
		padding: 5px;
	}

	.restart-btn {
		top: 10px;
		right: 10px;
		padding: 8px 10px;
	}
}