.login-container {
  display: flex;
  flex-direction: column;
  /* border: solid green; */
  
}

.login-container h1 {
  font-size: 2.2em;
  line-height: 1.1;
  margin-bottom: 30px;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 10px;
}

.login-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  /* border: solid orange; */
}

.login-container input {
  height: 100%;
  margin-left: 10px;
  border-radius: 8px;
}

.login-container button {
  /* border: solid green; */
  padding: 5px 10px;
  color: white;
  border-radius: 8px;
  border: 1px solid transparent;
  /* padding: 0.6em 1.2em; */
  font-size: 1em;
  font-family: inherit;
  background-color: var(--button-bg);
  cursor: pointer;
  transition: border-color 0.25s;
  width: 100px;
}

.login-container button:hover {
  border-color: #f1e6e6c2;
}