.wrapper {
    display: flex;
    justify-content: space-around;
    place-items: center;
    background-image: url("./start.png");
    background-size: cover;
    background-position: center;
    min-width: 320px;
    min-height: 100vh;
    position: relative;
}

.start-container {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.start-title {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 30px;
    font-family: "Cinzel Decorative", sans-serif;
}

.start-input {
    padding: 15px;
    font-size: 1rem;
    width: 50%;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: "Cinzel Decorative", sans-serif;
}

.start-input::placeholder {
    color: #3f3d3d;
}

.start-button {
    padding: 15px 30px;
    margin: 10px;
    font-size: 1rem;
    background-color: #474747;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: backround-color 0.3s ease;
    font-family: "Cinzel Decorative", sans-serif;
}

.start-button:hover {
    background-color: rgb(34, 33, 33);
}

/* Media Queries */
@media (max-width: 768px) {
    .start-title {
        font-size: 1.25rem;
    }

    .start-input {
        font-size: 0.9rem;
        padding: 12px;
    }

    .start-button {
        padding: 12px 25px;
        font-size: 0.9rem;
    }

    .wrapper {
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        /* Add padding to avoid content touching the edges */
    }

    .start-container {
        padding: 30px;
    }
}

@media (max-width: 480px) {
    .start-title {
        font-size: 1.1rem;
    }

    .start-input {
        font-size: 0.85rem;
        width: 100%;
    }

    .start-button {
        padding: 10px 20px;
    }
}