.main-container {
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  transition: background-image 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .main-container {
    background-size: cover;
  }
}