:root {
  font-family: 'Zilla Slab', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  display: flex; 
  list-style-type: none;
  gap: 20px;
}

  
button {
  background-color: #dbb42c;
  color: #283618;
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  font-family: inherit;
  font-weight: 600;
  text-transform: uppercase;
}

button:hover {
  color: #ffe169;
}

@media (max-width: 768px) {
  button {
    padding: 8px 16px;
    font-size: 0.8rem;
  }
}

