.Menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  row-gap: 1rem;
}
/* here we create the loading effect after typing in name and start the game  */
.Menu-loading {
  transition: opacity 0.5s;
  opacity: 0;

}

.Menu-title {
  
}

.Menu-name {
  
}

.Menu-input {
  ;
}

.Menu-button {
  color: white;
  background-color: black ;
  }


  .Menu-form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }