#northBtn {
  position: absolute;
  top: 0;
}
/* .directionContainer {
  position: relative;
} */
#southBtn {
  position: absolute;
  bottom: 0;
}
#eastBtn {
  position: absolute;
  right: 0;
}
#westBtn {
  position: absolute;
  left: 0;
}

.direction-wrapper {
  margin: 20px;
  border-radius: 10px;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.direction-text {
  padding: 0 10px 10px 10px;
  color: white;
}
